.title {
  font-weight: 700;
  margin: 10px 0px 0px 15px;
  color: #7431f9;
}

#searchForm {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

#gifContainer img {
  max-width: 100%;
  height: auto;
  margin: 5px;
  border-radius: 4px;
}

.search {
  display: flex;
  gap: 10px;
}

.settings {
  margin-left: 5px;
}

.form-select {
  display: inline !important;
  width: auto !important;
  margin-left: 10px;
}

@media (max-width: 576px) {
  #gifContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
